*{
	padding: 0;
	margin: 0;
	list-style-type: none;

	box-sizing: border-box;
}
header{
	height: 600px;
	background-color: #7b4191;
	width: 100%;
	display: flex;
	color: #fff;
}
.container{
	width: 1050px;
	margin: 0 auto;
}
.section{
	display: none;
}
.header-nav {
	height: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	background-image: url(images/logo.png);
	width: 120px;
	height: 38px;
	background-size: cover;
}
.header-list {
	font: 18px Yantramanav;
	text-align: center;
	display: flex;
}
.header-list li{
	height: 33px;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
}
.list-active{
	background-color: #562a6c;
}
.header-title {
	width: 90%;
	font: 46px Yantramanav;
	font-weight: 600;
	text-align: center;
	margin: 80px auto 50px;
}
.header-button {
	background: #e9703c;
	width: 300px;
	height: 70px;
	font: 20px Yantramanav;
	border-radius: 5px;
	border-bottom: 5px solid #c25c30;
	margin: auto;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services {
	height: 750px;
	width: 100%;
	background-color: #0abb9a;
	color: #fff;
}
.servives-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.services-title {
	padding: 115px 0 30px 0;
}
.title {
	font: 38px Yantramanav;
	letter-spacing: 0.1em;
	font-weight: 700;
	display: flex;
	justify-content: center;
}
.title:after{
	content: "";
	display: block;
	background-color: #089b80;
	width: 80px;
	height: 4px;
	position: absolute;
	top: 175px;
	left: 50%;
	margin-left: -40px;
}
.services-subtitle {
	margin-bottom: 60px;
}
.subtitle {
	font: 18px Yantramanav;
	width: 560px;
	margin: auto;
	text-align: center;
}
.services-row {
	display: flex;
	justify-content: space-around;
	margin: 80px 30px 120px 30px;
}
.services-column {
	height: 310px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.column-img{
	background-size: cover;
	width: 130px;
	height: 130px;
	margin: auto;
}
.services-column_first .column-img {
	background-image: url(images/danger.png);
}
.services-column_second .column-img {
	background-image: url(images/edit.png);
}
.services-column_third .column-img {
	background-image: url(images/gear.png);
}
.services-column_fourth .column-img {
	background-image: url(images/launch.png);
}

.column-title {
	font: 24px Yantramanav;
	font-weight: 700;
	margin: 20px 0;
}
.column-subtitle {
	font: 16px Yantramanav;
	text-align: center;
}
.team {
	background-color: #e4eff7;
	width: 100%;
	height: 900px;
}
.team-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.team-title{
	color: #2c3853;
	margin: 115px 0 30px 0;
}
.team-title:after{
	background-color: #c2d4e6;
}
.team-subtitle{
	color: #2c3853;
	width: 620px;
}
.team-row {
	display: flex;
	justify-content: space-around;
	margin: 80px 0 120px 0;
}
.team-column {
	height: 500px;
	width: 195px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.team-item-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-size: cover;
}
.team-column_first .team-item-img{
	background-image: url(images/person1.jpeg);
}
.team-column_second .team-item-img{
	background-image: url(images/person2.jpeg);
}
.team-column_third .team-item-img{
	background-image: url(images/person3.png);
}
.team-column_fourth .team-item-img{
	background-image: url(images/person4.png);
}
.team-item-name {
	color: #2c3853;
	font: 24px Yantramanav;
	font-weight: 700;
	margin: 20px 0;
}
.team-item-proffesion {
	font: 15px Yantramanav;
	color: #39bae6;
}
.team-item-subtitle { 
	color: #2c3853;
	font: 16px Yantramanav;
	text-align: center;
	margin: 30px 0 20px 0;
}
.team-social {
	display: flex;
	width: 180px;
	justify-content: space-around;
}
.team-icon_first,
.team-icon_second,
.team-icon_third,
.team-icon_forth{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: #b6ccdb;
}
.team-icon_first div{
	background-image: url(images/facebook.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
	background-size: cover;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -10px;
}
.team-icon_second div{
	background-image: url(images/twitter.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 16px;
	background-size: cover;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -8px;
}
.team-icon_third div{
	background-image: url(images/linkedin.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-size: cover;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
}
.team-icon_forth div{
	background-image: url(images/mail.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 13px;
	background-size: cover;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -6.5px;
}
.skills {
	width: 100%;
	height: 650px;
}
.skills-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.skills-title{
	color: #2c3853;
	margin: 115px 0 30px 0;
}
.skills-title:after{
	background-color: #dbe5eb;
}
.skills-subtitle{
	color: #2c3853;
	width: 620px;
}
.skills-row {
	display: flex;
	justify-content: space-around;
	margin: 80px 0 120px 0;
}
.skills-column {
	height: 210px;
	width: 165px;
	color: #2c3853;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font: 22px Yantramanav;
	font-weight: 700;
}

.skills-column_first div:first-child,
.skills-column_second div:first-child,
.skills-column_third div:first-child,
.skills-column_forth div:first-child{
	font: 45px Yantramanav; 
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.skills-column_first div:first-child{
	background: linear-gradient(0deg, #dbe5eb 10%,  #20b2e4 10%);
}
.skills-column_second div:first-child{
	background: linear-gradient(0deg, #dbe5eb 25%,  #20b2e4 25%);
}
.skills-column_third div:first-child{
	background: linear-gradient(0deg, #dbe5eb 30%,  #20b2e4 30%);
}
.skills-column_forth div:first-child{
	background: linear-gradient(0deg, #dbe5eb 15%,  #20b2e4 15%);
}
.portfolio {
	height: 1450px;
	background-color: #ffd98e;
	width: 100%;
}
.portfolio-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.portfolio-title {
	color: #2c3853;
	margin: 115px 0 30px 0;
}
.portfolio-title:after{
	background-color: #e2bc72;
}
.portfolio-tabs {
	display: flex;
	justify-content: center;
	margin: 45px 0 55px 0;
}
.portfolio-icon {
	background-color: #e9c379;
	padding: 7px 20px;
	margin: 5px;
	border-radius: 5px;
	font: 18px Yantramanav; 
	cursor: pointer;
}
.portfolio-icon_active{
	background: #fff;
}
.portfolio-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio-column div:first-child{
	width: 510px;
	height: 300px;
	background-size: cover;
}
.portfolio-column_first div:first-child{
	background-image: url(images/1.png);
}
.portfolio-column_last div:first-child{
	background-image: url(images/2.png);
}
.portfolio-column_third div:first-child{
	background-image: url(images/3.png);
}
.portfolio-column_fourth div:first-child{
	background-image: url(images/4.png);
}
.portfolio-column div:last-child{
	font: 18px Yantramanav;
	text-align: center;
	margin: 20px 0 60px 0;
}

.portfolio-button{
	background-color: #0abb9a;
	width: 300px;
	height: 70px;
	font: 20px Yantramanav;
	border-radius: 5px;
	border-bottom: 5px solid #089b80;
	margin: 50px auto;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.about {
	width: 100%;
	background-color: #d23673;
	height: 800px;
}
.about-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.about-title {
	color: #fff;
	margin: 115px 0 30px 0;
}
.about-title:after{
	background-color: #af2c5f;
}
.about-subtitle{
	display: flex;
	justify-content: space-around;
	margin: 0;
	color: #fff;
	margin: auto;
	margin-bottom: 50px;
}
.about-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 500px;
}
.about-column {
	width: 500px;
}
.about-column .column-top div:first-child{
	width: 95px;
	height: 95px;
	background-size: cover;
	border-radius: 50%;
	margin-top: 10px;
}
.about-column_first .column-top div:first-child{
	background-image: url(images/person1.jpeg);
}
.about-column_second .column-top div:first-child{
	background-image: url(images/person2.jpeg);
}
.about-column_third .column-top div:first-child{
	background-image: url(images/person3.png);
}
.about-column_fourth .column-top div:first-child{
	background-image: url(images/person4.png);
}
.column-top div:last-child{
	font: 16px Montserrat;
	font-style: italic;
	letter-spacing: -0.04em;
	color: #fff;
	width: 320px;
}
.column-bottom div:first-child{
	font: 20px Yantramanav;
	color: #fff;
}
.column-bottom div:last-child{
	font: 16px Yantramanav;
	color: #ffd98e;
}
.column-top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	}
.column-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-right: 90px;
}
.form {
	width: 100%;
	height: 800px;
	background-color: #2c458e;
}
.form-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.form-title {
	color: #fff;
	margin: 115px 0 30px 0;
}
.form-title:after{
	background-color: #172a64;
}

.form-subtitle {
	display: flex;
	justify-content: space-around;
	margin: 0;
	color: #fff;
	margin: auto;
	margin-bottom: 50px;
	width: 720px;
}

.form-contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-inputs{

}
.form-inputs input{
	font: 20px Yantramanav;
	background-color: #172a64;
	color: #fff;
	font-weight: 300;
	width: 415px;
	padding: 12px;
	border-radius: 5px;
	border-color: transparent;
	margin: 15px;

}
.form-textarea textarea{
	font: 20px Yantramanav;
	background-color: #172a64;
	color: #fff;
	font-weight: 300;
	width: 864px;
	height: 190px;
	padding: 12px;
	border-radius: 5px;
	border-color: transparent;
	margin-top: 10px;
}
.form-button {
	background: #20b2e4;
	width: 300px;
	height: 70px;
	font: 20px Yantramanav;
	border-radius: 5px;
	border-bottom: 5px solid #1994be;
	margin: 50px auto 110px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
footer{
	width: 100%;
	height: 115px;
	background-color: #243c82;
	display: flex;
	align-items: center;
}
.footer-links{
	display: flex;
	justify-content: space-around;
}
.footer-links li{
	cursor: pointer;
	font: 26px Yantramanav;
	color: #fff;
}
@media (max-width: 1060px){
	.container{
	width: 800px;
	margin: 0 auto;
}
.title {
	font: 30px Yantramanav;
	font-weight: 700;
}
.title:after{
	width: 70px;
	height: 3px;
	top: 165px;
}
.subtitle {
	font: 16px Yantramanav;
	width: 500px;
	margin: auto;
	text-align: center;
}
.header-title{
	font-size: 38px;
}
.header-button{
	width: 220px;
	height: 50px;
	font-size: 18px;
}
.services-column {
	height: 280px;
	width: 170px;
}
.column-img{
	width: 110px;
	height: 110px;
	margin: auto;
}
.column-title{
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0;
}
.column-subtitle {
	font: 15px Yantramanav;
	text-align: center;
}
.team-column {
	height: 500px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.team-item-img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-size: cover;
}
.team-item-name {
	font: 18px Yantramanav;
	font-weight: 700;
	margin: 20px 0;
}
.team-item-proffesion {
	font: 14px Yantramanav;
	color: #39bae6;
}
.team-item-subtitle { 
	color: #2c3853;
	font: 15px Yantramanav;
	text-align: center;
	margin: 30px 0 20px 0;
}
.team-social {
	display: flex;
	width: 160px;
	justify-content: space-around;
}
.skills-column_first div:first-child,
.skills-column_second div:first-child,
.skills-column_third div:first-child,
.skills-column_forth div:first-child{
	font: 38px Yantramanav; 
	width: 100px;
	height: 100px;

}
.portfolio-column div:first-child{
	width: 390px;
	height: 230px;
	background-size: cover;
	margin: 5px;
}
.portfolio{
	height: 1300px;
}
.portfolio-button {
	width: 220px;
	height: 50px;
	font: 18px Yantramanav;
	margin: 70px auto 80px;
}

.about-row{
	display: flex;
	justify-content: center;
	margin-right: 50px;
}

.about-column{
	display: flex;
}
.column-bottom div{
	min-width: 150px;
	display: flex;
	justify-content: center;
}
.column-bottom div:first-child{
	font: 18px Yantramanav;
}
.column-bottom div:last-child{
	font: 15px Yantramanav;
	text-align: center;
}
.about-column .column-top div:first-child{
	margin-right: 20px;
}
.form-inputs{
	margin-top: 50px;
}
.form-inputs input{
	font: 18px Yantramanav;
	width: 330px;
}
.form-textarea textarea{
	font: 16px Yantramanav;
	width: 700px;
	height: 150px;
}
.form-button {
	width: 220px;
	height: 50px;
	font: 18px Yantramanav;
	margin: 70px auto 80px;
}
.form{
	height: 750px;
}
.footer-links li{
	font: 20px Yantramanav;
}
}
@media (max-width: 850px){
	header{
		height: 530px;
	}
	.header-logo{
		width: 96px;
		height: 30px;
		background-size: cover;

	}
	.container{
		width: 600px;
		margin: 0 auto;
	}
	.title {
		font: 28px Yantramanav;
		font-weight: 700;
}
	.title:after{
		width: 70px;
		height: 3px;
		top: 165px;
}
	.subtitle {
		font: 16px Yantramanav;
		width: 500px;
		margin: auto;
		text-align: center;
}
	.header-title{
		font-size: 30px;
}
	.services-row{
		display: flex;
		flex-wrap: wrap;
	}
	.services-column {
		height: 280px;
		width: 250px;
}
	.services{
		height: 1000px;
	}
	.team-row {
		flex-wrap: wrap;
		margin-top: -30px;	
}
	.team-column {
		height: 500px;
		width: 220px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}
	.team{
		height: 1200px;
	}
	.team-column_third,
	.team-column_fourth{
		margin-top: -50px;
	}
	.skills-row{
		flex-wrap: wrap;
	}
	.skills-column {
		height: 150px;
		width: 220px;
		font: 20px Yantramanav;
}
	.skills-column_third,
	.skills-column_forth{
		margin-top: 75px;
	}
	.skills-title{
		margin: 50px 0 30px 0;
	}
	.skills-title:after{
		top: 100px;
	}
	.skills-subtitle{
		width: 500px;
	}
	.skills{
		height: 725px;
	}
	.portfolio-row {
		justify-content: center;
	}
	.portfolio{
		height: 1950px;
	}
	.about{

	}
	.column-top div:first-child{
		display: none;
	}
	.about-row{
		margin-left: 100px;
}
	.form-inputs{
		margin-top: 50px;
		display: flex;
		flex-direction: column;
	}
	.form-inputs input{
		font: 18px Yantramanav;
		width: 500px;
	}
	.form-textarea textarea{
		font: 16px Yantramanav;
		width: 500px;
		height: 150px;
	}
	.form-button {
		width: 220px;
		height: 60px;
		font: 18px Yantramanav;
		margin: 70px auto 80px;
	}
	.form{
		height: 820px;
	}
	.footer-links li{
		font: 18px Yantramanav;
}
}
@media (max-width: 640px){
	header{
		height: 940px;
	}
	.container{
		width: 400px;
		margin: 0 auto;
	}
	.header-nav{
		display: flex;
		flex-direction: column;
	}
	.header-logo{
		margin-top: 50px;
		position: absolute;
		top: 50px;
		width: 161px;
		height: 50px;
		background-size: cover;

	}
	.header-list{
		margin-top: 220px;
		flex-direction: column;
		width: 100%;
	}
	.header-list li{
		font-size: 30px;
		height: 60px;
		line-height: 60px;
	}
	.header-title{
		margin-top: 420px;
	}
	.header-button{
		width: 250px;
		height: 80px;
		font: 18px Yantramanav;
	}
	.title {
		font: 28px Yantramanav;
		font-weight: 700;
}
	.title:after{
		width: 100px;
		height: 5px;
		top: 165px;
}
	.subtitle {
		font: 22px Yantramanav;
		width: 400px;
		margin: auto;
		text-align: center;
		position: relative;
		top: 10px;
}
	.services{
		height: 1670px;
	}
	.services-column {
		margin-top: 30px;
	}
	.column-img{
		background-size: cover;
		width: 150px;
		height: 150px;
		margin: auto;
}
	.team{
		height: 2160px;
	}
	.team-title{
		text-align: center;
	}
	.team-top .title:after{
		top: 200px;
		left: 47%;
	}
	.team-column{
		margin-top: -50px;
	}
	.team-column_first{
		margin-top: 50px;
	}
	.skills-column{
		margin-top: 20px;
	}
	.skills-top .title:after{
		top: 23px;
		left: 47%;
	}
	.skills{
		height: 1000px;
	}
	.portfolio-button{
		width: 250px;
		height: 80px;
		font: 18px Yantramanav;
	}
	.portfolio{
		height: 2000px;
	}
	.about-title{
		text-align: center;
	}
	.about-top .title:after{
		top: 205px;
		left: 47%;
	}
	.about-column{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 150px;
	}
	.about-row{
		margin: 0;
		margin-top: 50px;
	}
	.column-top{
		text-align: center;
	}
	.column-bottom{
		 position: relative;
		 left: 10%;
		 top: 15px;
	}
	.about{
		height: 1000px;
	}
	.form-inputs{
		margin-top: 50px;
		display: flex;
		flex-direction: column;
	}
	.form-inputs input{
		width: 400px;
	}
	.form-textarea textarea{
		width: 400px;
		height: 200px;
	}
	.form-button {
		width: 250px;
		height: 80px;
		font: 18px Yantramanav;
	}
	.form{
		height: 950px;
	}
	footer{
		height: 680px;
	}
	.footer-links{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.footer-links li{
		font: 24px Yantramanav;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #0f2057;
		width: 100%;
}
	.footer-links li:first-child{
		margin-top: -40px;
	}
}





